BETTER_AUTH_SECRET=replace-with-at-least-32-characters
GEMINI_API_KEY=
APP_BASE_URL=http://localhost:3000
AUTH_ALLOWED_EMAILS=aidan@getaxiom.ca
AUTH_ADMIN_EMAILS=aidan@getaxiom.ca
RATE_LIMIT_WINDOW_SECONDS=900
RATE_LIMIT_MAX_AUTH=10
RATE_LIMIT_MAX_EXPORT=20
RATE_LIMIT_MAX_SCRAPE=3
SCRAPE_CONCURRENCY_LIMIT=1
SCRAPE_TIMEOUT_MS=90000
